@use "navbar";
@use "footer";
@use "paymentForm";


  .totalSum {
    font-weight: bold;
    display: inline;
    border: 1px solid black;
    box-shadow: 2px 2px 2px black;
    padding: 1%;
    margin: 5px;
  }



