@use "navbar";
@use "footer";
@use "paymentForm";
@use 'mixins';
@use 'variables';
@use 'messages';


html { 
  font-family: variables.$font;
  }
  body {
      margin: 0%;
  }

  #checkout {
    font-weight: bold;
  }


  
  .container.row {
    display: flex;
    position: relative;
    margin: auto !important;
    justify-content: center;
    
    .container__mainContent {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      
      & div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        border-bottom: 1px solid rgba(0, 0, 0, 0.386);
        margin-bottom: 30px;
        
        button { 
          border: none;
          padding: 5px 10px 5px 10px;
          border-radius: 5px;
          margin-bottom: 10px;
        }
        & h3 {
          font-size: medium;
          font-weight: bold;
        }
      }
      img {
        height: 10vh;
        margin: 3px;
      }
  
    }
    .totalSum {
      font-weight: bold;
      display: inline;
      padding: 1%;
      width: fit-content;
    }
  }
  

  .payButton {
    @include mixins.button;
    width: 40%;
    margin-bottom: 20px;
  }