@use 'mixins' as m;

.formContainer__payForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:white; 
    color: #FE938C;
    font-family: 'Hind Madurai', sans-serif;
    input {
        background-color: white; 
        width: 50%;
       border: 2px solid rgb(204, 196, 196);
       margin: 3px;
       font-weight: bold;
       
    }

    &--submitButton {

        @include m.button;

    }


}