
@use 'navbar';
@use 'footer';
@use 'mixins';


#filterForm {
    display: flex;
    flex-direction: row;
    // background-color:#74121D;
    background-color: #cb5357; 
    padding: 20px;
    color: rgb(253, 246, 236);
    margin-bottom: 20px;
    justify-content: space-evenly;
    // #btnSubmit {
    //     margin-top: 20px;
    //     width: 30%;
    //     @include mixins.button;
    // }
    
    // #btnSubmit:active {
    //     background-color: #d2cecf;
    // }
    input {
        display: none;

    }

}
#productpageWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 0;
    
    
    [class$=bookContainer] {
        // border: solid  black 2px;
        display: flex;
        flex-direction: column;
        padding: 10px;
        width: 80vw;
        margin-bottom: 20px; 
        box-shadow: 0 5px 5px 0 #cab4b6;
        align-items: center;
        justify-content: space-between;

        img {
            width: 70%;
        }

        .price {
            height: 40px;
            width: 40px;
            border-radius: 50%;
            padding-top: 10px;
            font-weight: bolder;
        }

        button {
            @include mixins.button;
            width: 90%;
            
        }
        button:active {
            background-color: #d2cecf;
        }
    }
    
    @include mixins.tablet {
        display: grid;
        grid-template-columns: 30% 30% 30%;
        row-gap: 20px;
        column-gap: 20px;
        
        
        [class$=bookContainer] {
            padding: 10px;
            height:fit-content;
            width: auto;   
        }
       
    }
}

