
@use 'navbar';
@use 'footer';
@use 'mixins';

#startpagePresentation {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;

    img {
        width: 70%;
    }

    @include mixins.tablet {
        flex-direction: row;
        img {
            width: 40%;
        }
    }
}